{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\xtung\OneDrive - Hanoi University of Science and Technology\Máy tính\freelance web\jobhub\jobhub\polls\static\style.css">
    <title>Tìm kiếm việc làm</title>
    <link rel="stylesheet" href="{% static 'C:\Users\xtung\OneDrive - Hanoi University of Science and Technology\Máy tính\freelance web\jobhub\jobhub\polls\static\style.css' %}">
</head>
<body>
    <div id="main">
        <div id="header">
            <div id="nav">
                <a href="">logo</a>
                <a href="">Find Talent</a>
                <a href="">Find Job</a>
                <a href="">Company</a>
                <a href="">Profile</a>
            </div>
        </div>
        <div id="site_bar">
            <input placeholder="First name" class="input" name="firstName" type="text">
        </div>
        <div id="content">

        </div>
        <div id="footer">

        </div>
    </div>
</body>
</html>