{% extends "polls/base.html" %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">My companies</h1>
                        <a href="{%url 'add_com' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Add company</a>
                    </div>
    {%for i in com%}
    <div class="card shadow" style="width: 100%">
        <div class="card-header">
          <h6>{{i.name}}</h6>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{i.email}}</h5>
          <p class="card-text">
            <ul>
                <li>Phone: {{i.phone}}</li>
                <li>Email: {{i.email}}</li>
                <li>Field: {{i.field}}</li>
                <li>Description: {{i.description_text}}</li>
            </ul>
          </p>
          <a href="{%url 'update_com' i.id%}" class="btn btn-primary">EDIT</a>
        </div>
      </div>
    {% endfor %}
{% endblock %}