{% extends "polls/base.html" %}

{% block content %}
<div class="main">
    <!-- <div class="main1">
      <div class="criteria">
          <div class="sort">
              <p>Sort by</p>
              <div class="sort-list">
                  <li><button> Relevancy</button></li>
                  <li><button> Latest</button></li>
              </div>
          </div>

          <div class="typeofwork">
              <p>Type of work</p>
              <div class="type-list">
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>By date</label></li>
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>Internship</label></li>
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>Full time job</label></li>
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>Part time job</label></li>
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>Freelance job</label></li>
              </div>
          </div>

          <div class="city">
              <p>City</p>
              <div class="city-list">
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>Ha Noi</li>
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>Ho Chi Minh</li>
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>Hai Phong</li>
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>Da Nang</li>
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>Binh Duong</li>
              </div>
          </div>

          <div class="experience">
              <p>Experience</p>
              <div class="experience-list">
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>Less than 1 years</li>
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>1-3 years</li>
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>3-5 years</li>
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>5-10 years</li>
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>More than 10 years</li>
              </div>
          </div>
          
          <div class="update">
              <p>Last update</p>
              <div class="update-list">
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>Last 24 hours</li>
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>Last week</li>
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>Last month</li>
                  <li><label class="material-checkbox"><input type="checkbox"><span class="checkmark"></span>Anytime</li>
              </div>
          </div>
      </div>
    </div> -->
    <div class="company">
    {%if ds%}
        {% for i in ds %}
        <div class="card shadow mb-4" style="display: block;">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><a href="{%url 'detailview' i.id%}" style="text-transform: uppercase;">{{i.name}}</a></h6>
            </div>
            <div class="card-body" style="padding: 1rem;">
               <div class="row">
                <div class="col-10">
                <strong style="margin-top: 1rem;">About</strong>
             <p style="max-width: 80%;text-overflow: ellipsis;overflow: hidden;">{{i.description_text}}</p>
             <p class="small" >Phone: {{i.phone}}</p>
             <p class="small" >Email: {{i.email}}</p>
            </div>
            <div class="col-2">
                {%if i.company_img %}
                <img src="{{i.company_img.url}}" alt="{{i.name}}" style="width: 100%;">
                {% endif %}
            </div>
               </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h1>khong co du lieu</h1>
    {% endif %} 
</div>  
</div>     
{% endblock %}