{% extends "polls/base.html" %}

{% block content %}

    <div class="dtcompany">
        <img class="coverimg">
        <div class="dttotal">
            {%if com.company_img%}
            <img class="logoimg" src="{{com.company_img.url}}">
            {%endif%}
            <div class="dtbasicinfor">
                <h1 class="dtcompanyname" style="text-transform: uppercase;">{{com.name}}</h1>
                <p class="dtslogan">top 1 cty</p>
                <div class="dtinfor">
                    <dt class="dtaddress">Address</dt>
                    <dd class="dtaddresslink"></dd>
                    <dt class="dtfield">Field</dt>
                    <dd class="dtfieldlink">{{com.field}}</dd>
                    <dt class="dtemail">Email</dt>
                    <dd class="dtemaillink">{{com.email}}</dd>
                    <dt class="dtphone">Phone number</dt>
                    <dd class="dtphonelink">{{com.phone}}</dd>
                </div>
            </div>
            <div class="nothing"></div>
            <div class="dtjobsearch">
                <button> See current job vacancies</button>
            </div>
        </div>
        <div class="companyinfor">
            <h3 class="ciinfor" style="text-transform: uppercase;">Company information</h3>
            <p class="ciintroduce" style="text-transform: uppercase;">Introduction</p> 
                             <p>{{com.description_text}}</p>
            <p class="ciculture" style="text-transform: uppercase;">Corporate culture</p> 
        </div>
        <div class="jobinfor">
            <h3 style="text-transform: uppercase; font-size: 25px; font-weight:bold;">Company's recruitment news</h3>
            <ul>
                {%for i in recuit%}
                <Li><a href="{%url 'new_detail' i.id%}">{{i.name}}</a></Li>
                {% endfor %}
            </ul>
        </div>
    </div>
        
    
    
{% endblock %}