{% extends "polls/base.html" %}

{% block content %}
<div class="dnjob">
    <div class="dnrow"> 
        {%if new.company.company_img%}
      <div class="dnlogo"><img src="{{new.company.company_img.url}}" alt=""></div>
      {%endif%}
      <div class="dncol">
        <div class="dnjobname">{{new.name}}</div>
        <div class="dncompanyname">{{new.company.name}}</div>
      </div>
    </div>
    <div class="dnjobdescrip">Job description: {{new.job_descrip}}</div>
    <div class="dnjobdemand">Request: {{new.job_demand}}</div>
    <div class="dnsalary">Salary: {{new.salary}}</div>
    <div class="nothing"></div>
    <form method="POST"action="">
        {% csrf_token %}
        <div class="dtjobsearch">
            <button type="submit" class="btn btn-primary">Ứng tuyển ngay</button>
        </div>
    </form>
  </div>


    {% if messages %}
    {% for message in messages %}
    <div id="model" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notifications</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" onclick="toggleModel()">×</span>
                </button>
            </div>
            <div {% if message.tags %} class="modal-body"{% endif %}>{{ message }}</div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="toggleModel()">OK!</button>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{% endif %}
 <script>
  function toggleModel() {
    document.getElementById("model").style.display = "none";
  }
</script>
{% endblock %}