{% extends "polls/base.html" %}

{% block content %}
<p>name:{{new.name}}</p>
<p>Mô tả công việc: {{new.job_descrip}}</p>
<p>Yêu cầu công việc: {{new.job_demand}}</p>
<p>Lương: {{new.salary}} $</p>
<p> Công ty: <a href="{%url 'detailview' new.company.id %}" style="text-transform: uppercase;">{{new.company.name}}</a></p>
<img src="{{new.company.company_img.url}}" alt="">

<form method="POST"action="">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Ứng tuyển ngay</button>
</form>
    {% if messages %}
    {% for message in messages %}
    <div id="model" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notifications</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" onclick="toggleModel()">×</span>
                </button>
            </div>
            <div {% if message.tags %} class="modal-body"{% endif %}>{{ message }}</div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="toggleModel()">OK!</button>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{% endif %}
 <script>
  function toggleModel() {
    document.getElementById("model").style.display = "none";
  }
</script>
{% endblock %}