{% extends "polls/base.html" %}

{% block content %}
<div class="main">
    <form action="" method="get">
        {{MyFilter.form}}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div class="company">
    {%if ds%}
        {% for i in ds %}
            <div class="ncard">
                <a class="card1" href="{%url 'new_detail' i.id %}">
                        <div class="row">
                            <div class="col-2">
                                {%if i.company.company_img%}
                                <img src="{{i.company.company_img.url}}" alt="company_img" style="border-radius: 50%;width: 100%;"> 
                                {%endif%}
                            </div>
                            <div class="col-9">
                                <p class="ncard-title">{{i.name}}</p>
                            </div>
                        </div>
                         <p class="nsmall-desc">
                           Loại Công việc: {{i.catergory}}
                         </p>
                         <p class="nsmall-desc">
                            Thời điểm đăng bài: {{i.posted_at}}
                          </p>
                         <div class="ngo-corner">
                           <div class="ngo-arrow">→</div>
                         </div>
                    
               </a>
             </div>
        {% endfor %}
    {% else %}
        <h1>khong co du lieu</h1>
    {% endif %} 
    </div>  
</div>     
{% endblock %}