{% extends "polls/base.html" %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Add new company</h1>
                        <a href="{%url 'resume' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Update resume</a>
                    </div>
    <form method = "POST" action = "">
    {% csrf_token %}
    {{ form.as_p }}
    <button type ="submit">add your company</button>
    </form>

        {% if messages %}
    {% for message in messages %}
    <div id="model" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notifications</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" onclick="toggleModel()">×</span>
                </button>
            </div>
            <div {% if message.tags %} class="modal-body"{% endif %}>{{ message }}</div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="toggleModel()">OK!</button>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{% endif %}
 <script>
  function toggleModel() {
    document.getElementById("model").style.display = "none";
  }
</script>
{% endblock %}