{% extends "polls/base.html" %}

{% block content %}
    <table>
    <tr>    
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Field</th>
    </tr>
    <tr>    
        <td>{{com.name}}</td>
        <td>{{com.email}}</td>
        <td>{{com.phone}}</td>
        <td>{{com.field}}</td>
    </tr>
    </table>
    <p>{{com.description_text}}</p>
    <h3>Company's recuitment new</h3>
    <ul>
        {%for i in recuit%}
        <Li><a href="{%url 'new_detail' i.id%}">{{i.name}}</a></Li>
        {% endfor %}
    </ul>
{% endblock %}