{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/polls/templates/polls/404.html' %}">
</head>
<body>
    <div id="main">
        OOPS can't reach your web
        <img src="{% static 'C:\Users\xtung\OneDrive - Hanoi University of Science and Technology\Máy tính\freelance web\jobhub\jobhub\polls\static\img\wallpaperflare.com_wallpaper (2).jpg' %}" alt="false">
    </div>
</body>
</html>